.button
{
	-fx-background-color: transparent;
	-fx-background-radius: 1px;
	-fx-font-size: 20px;
	-fx-font-weight: bold;
	-fx-font-style: italic;
	-fx-border-color: white;
	-fx-text-fill: linear-gradient(from 35% 25% to 50% 100%, #24824E 0%, #FF9D5C 60%, #DDD15C 100%);
	
}

.button:hover
{
	-fx-background-color: gray;
}

.menuVbox
{
	-fx-background-color: #010010FF;
	-fx-spacing: 10;
	-fx-alignment: top-center;
}

.menuHbox
{
	-fx-background-color: #010010FF;
	-fx-spacing: 10;
	-fx-alignment: center;
}

.jeu
{
	-fx-background-image: url("space.png");
	-fx-border-color: white;
	-fx-border-radius: 0;
}

.labelTitre
{
	-fx-font-size: 20px;
	-fx-font-weight: bold;
	-fx-text-fill: linear-gradient(from 35% 25% to 50% 100%, #24824E 0%, #FF9D5C 60%, #DDD15C 100%);
}

.textfield
{
	-fx-font-size: 20px;
	-fx-font-weight: bold;
	-fx-text-fill: linear-gradient(from 35% 25% to 50% 100%, #24824E 0%, #FF9D5C 60%, #DDD15C 100%);
	-fx-border-color: white;
	-fx-border-radius: 0;
	-fx-background-color: #010010FF;
}

.selector
{
	-fx-font-size: 10px;
	-fx-font-weight: bold;
	-fx-text-fill: red;
}

.borderPaneEditeur
{
	-fx-background-color: #010010FF;
}