.borderpane
{
	-fx-background-image: url("back_02.jpg");
}


.button
{
	-fx-background-color: transparent;
	-fx-background-radius: 1px;
	-fx-font-size: 32px;
	-fx-font-weight: bold;
	-fx-font-style: italic;
	-fx-border-color: white;
}

.button:hover
{
	-fx-background-color: gray;
}